body {
	background-color: black;
}
p {
	font-family:Impact;
}
h1#h01 {
	font-family:Impact;
}
a:link {
    color: #E7E7E7	
}
a:visited {
    color: #808080	
}
a:hover {
	background-color: #00AAEE;
}
#b01 {
	background-color: #F00;
	border: none;
	cursor: pointer;
	text-align: center;
	font-size: 72px;
	display: inline-block;
	padding: 15px 32px;
}
h1, h2, h3, h4, h5, h6, p {
	color:#E7E7E7
}