<!DOCTYPE html>
<head>
</head>
	<title>{{ page.title }} | Roguim</title>
	<meta property="og:type" content="{{ page.type }}">
	<meta property="og:title" content="{{ page.title }} | Rogue's Website" />
	<meta property="og:description" content="{{ page.description }}" />
	<meta property="og:url" content="{{ page.link }}" />
	<meta property="og:image" content="https://roguim.github.io/logo.jpg" />
	<meta name="theme-color" content="#FF8888">
	
	<!-- CSS and JS call -->
	<link rel="stylesheet" href="/{{ page.styles }}.css#30">
	
	<script src="/js/{{ page.code }}.js"></script>
	
	
</head>
<body>
	
	
	